<!DOCTYPE html>
<html>
<head>
    <title>Airdrop</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Airdrop (Prossimamente)</h1>
    <p>Questa sezione sarà presto disponibile.</p>
</body>
</html>
