<!DOCTYPE html>
<html>
<head>
    <title>Referral</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Referral di <%= user.username %></h1>
    <p>Referral completati: <%= user.referrals %></p>
    <p>Condividi questo link: https://tuo-sito.com?id=<%= user.id %></p>
</body>
</html>
