<!DOCTYPE html>
<html>
<head>
    <title>Task</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Task di <%= user.username %></h1>
    <p>Punti: <%= user.points %></p>
    <ul>
        <li>Completa il primo task <button>Completato</button></li>
    </ul>
</body>
</html>
